
<!doctype html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">

</head>

<body>
 <!-- Top White Bar -->
<div style="background-color: white; padding: 10px;">
  <nav class="navbar navbar-light">
      <a class="navbar-brand" href="#"><b>CARE HOSPITALS</b></a>
  </nav>
</div>

<!-- Bottom Black Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <div class="mx-2">
          <button class="btn btn-danger" data-toggle="modal" data-target="#loginModal">
              <a class="login-link" href="javascript:void(0);" routerLink="/doclogin">Login as Doctor</a>
          </button>
          <button class="btn btn-danger" data-toggle="modal" data-target="#loginModal">
              <a class="login-link" href="javascript:void(0);" routerLink="/adlogin">Login as Admin</a>
          </button>
      </div>
  </div>
</nav>

  

  
  
  

    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="padding: 10px 70px;">

            <img src="https://img.freepik.com/premium-photo/soft-light-white-flowers-with-top-side-blank-space-white-background_1016686-14291.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="top: 150px; transform: translateY(0);">
                <h2 style="color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Welcome to CARE Centre</h2>
                <p></p>
                <button class="btn btn-danger">10000+ Healing Hands</button>
                <button class="btn btn-primary">Advanced Treatment</button>
                <button class="btn btn-success">Best Clinical Outcomes</button>
            </div>
        </div>
        
            <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/1344935909/vector/man-at-the-reception-desk-in-the-interior-of-the-hospital-vector-flat-style-cartoon.jpg?s=1024x1024&w=is&k=20&c=_az9reW878eRfnmk5HC08xzv2wH5OmUcP0h2GLU-n9A=" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <button class="btn btn-secondary btn-lng"><h2>Book an Appointment</h2></button>
                    <p></p>
                    <button class="btn btn-danger">10000+ Heeling Hands</button>
                    <button class="btn btn-primary">Advanced Treatement </button>
                    <button class="btn btn-success">Best Clinical OutComes</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/1344935909/vector/man-at-the-reception-desk-in-the-interior-of-the-hospital-vector-flat-style-cartoon.jpg?s=1024x1024&w=is&k=20&c=_az9reW878eRfnmk5HC08xzv2wH5OmUcP0h2GLU-n9A=" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <button class="btn btn-secondary btn-lng"><h2>Prevention is better than cure!</h2></button>
                    <p></p>
                    <button class="btn btn-danger">10000+ Heeling Hands </button>
                    <button class="btn btn-primary">Advanced Treatement</button>
                    <button class="btn btn-success">Best Clinical OutComes</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container my-4">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  
                  <h3 class="mb-0">Why Choose DNYANOBA Healthcare?</h3>
                  
                  <p class="card-text mb-auto">Largest network of the worlds finest and brightest medical experts who provide compassionate care using outstanding expertise and advanced technology.</p>
                  
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="https://media.istockphoto.com/id/1344935909/vector/man-at-the-reception-desk-in-the-interior-of-the-hospital-vector-flat-style-cartoon.jpg?s=1024x1024&w=is&k=20&c=_az9reW878eRfnmk5HC08xzv2wH5OmUcP0h2GLU-n9A=" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success"></strong>
                  <h3 class="mb-0">Stop The Stroke!</h3>
                
                  <p class="mb-auto">When someone has stroke, we lose crucial braincells, the key to mobility, communication and memory.</p>
                
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="https://media.istockphoto.com/id/1481753317/vector/international-nurses-day-poster-may-12-vector.jpg?s=1024x1024&w=is&k=20&c=6JheYPbNh6eniPdQZ4lg1VIo2wvf_iGFYrrMH8U8MTc=" alt="">

                </div>
              </div>
            </div>
          </div>
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger"></strong>
                  <h3 class="mb-0">DNYANOBA Heart Institute Expertise</h3>
                  
                  <p class="card-text mb-auto">The DNYANOBA Heart Institutes are regarded as one of the best heart hospitals in India, performing a multitude of treatments and procedures in cardiology and cardiothoracic surgery. </p>
                  
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="https://media.istockphoto.com/id/1028847418/vector/doctor-visit-with-patient-for-medicine-concept.jpg?s=1024x1024&w=is&k=20&c=vsOD4aOucMJG88BjNMVgaMLHxXKz4v3zlZch1I_J0ME=" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-warning"></strong>
                  <h3 class="mb-0">DNYANOBA Never Sleeps</h3>
                  
                  <p class="mb-auto">Get the most advance emergency care anywhere in minutes just. For free ambulence service dial "1066"</p>
                  
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="https://cdn.pixabay.com/photo/2016/12/01/09/08/patient-care-1874756_1280.jpg" alt="">

                </div>
              </div>
            </div>
          </div>
    </div>
    <footer class="container">
        <p> Contact : 1860 344 5454 </p>
        <p>© 2024-2025 DNYANOBA hospitals, Inc. </p>
      </footer>
    
    
</body>

</html>
